# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Banco de dados local (nunca subir o .db)
*.db
*.sqlite3

# Ambientes e Chaves
.env
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db